header{position: fixed; width: 100%; background:#fff;padding: 10px 0;height:100px}
#menu{list-style: none}
#menu li{float: left;}
#logo img{height: 70px}
header.shrink {
    height: 70px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
header.shrink img
{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

header.shrink #logo img{
	height: 40px
}